* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
.container {
    width: 1200px;
    margin: 0 auto;
}
.bgMain {
    background: #1f2235;
}
  
.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.col-6 {
    width: 50%;
}
  
.col-4 {
    width: 33.33333333333333%;
}

.btn {
    outline: none;
    border: none;
    color: #fff;
    text-decoration: none;
}
.btn-outline {
    border: 2px solid #ff4a57;
    border-radius: 50px;
    padding: 13px 39px;
}

.sendBtn:hover {
  color: #fff;
  border-color: #fff;
}

  @media (max-width: 765px) {
    .container {
      width: 100%;
      padding: 0 50px;
    }
    .col-6 {
      width: 100%;
    }
    .col-3 {
      width: 100%;
    }
    .col-4 {
      width: 100%;
    }
    .header__section h1 {
      font-size: 35px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .header__section p {
      font-size: 20px;
      font-weight: 300;
      line-height: 30px;
      margin-bottom: 50px;
    }
    .common {
      width: 100%;
    }
    .h-650 {
      height: auto;
    }
  }
  